#slide_aurubis{

  position: absolute;
  left: 100%;

}

#main_aurubis{  opacity: 0; }

#ar_tit{

  position: absolute;

  width: calc(100% - 200px);
  height: 50%;

  right: 150px;


  padding: 50px;
  padding-top: 100px;

  text-align: right;

  transform: translateY(50%); opacity: 0;

  font-family: 'Bebas Neue', cursive;
  font-size: 9vw;
  color: #2196F3;
  -webkit-text-stroke-color: #000000;
  -webkit-text-stroke-width: 5px;
  pointer-events: none;

  z-index: 25;

}

#ar_bg{  background-image: url("../img/aurubis.jpg"); }


#ar_info{

  position: absolute;

  width: calc(100% - 200px);
  height: 50%;
  bottom: 0;

  left: 100px;

  padding: 50px;

  transform: translateY(50%); opacity: 0;

  z-index: 30;

}

#ar_info_more{

  position: absolute;

  width: 250px;
  height: 65px;

  top: 50%;
  transform: translateY(-50%);


  font-size: 22px;
  color: rgba(255,255,255,0.95);
  text-align: center;
  line-height: 65px;

  background-color: #E91E63;
  border-radius: 5px;
  box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.25);

  cursor: pointer;
  user-select: none;

  z-index: 30;

}

#ar_info_text{

  position: relative;

  width: calc(95% - 300px);

  margin-left: 300px;
  overflow: hidden;

  top: 50%;
  transform: translateY(-50%);

  font-size: 22px;
  color: rgba(255,255,255,0.85);
  text-align: justify;

  z-index: 30;

}

#ar_logo{

  position: absolute;

  width: 100%;
  height: 100%;

  transform: translateY(50%); opacity: 0;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img/w_circle.png");

  z-index: 20;

}



.slow_fadein_animation{ animation: general_fadein_ani 1s forwards ease; animation-delay: 0.5s}
.ar_slide_fade_animation{animation: ar_slide_fade_ani 1s forwards ease; animation-delay: 0.5s}
@keyframes ar_slide_fade_ani {

  0%{ transform: translateY(50%); opacity: 0;}
  100%{ transform: translateY(0%); opacity: 1;}

}












#ar_percent{ background-image: url("../img/percent.svg"); background-size: 75%;}
#ar_baum{ background-image: url("../img/grafik_baum.jpg"); }

#ar_mp{ background-image: url("../img/mp.png"); }
#ar_so{ background-image: url("../img/ar_so.png"); }
