#slide_welcome{

  position: absolute;

}

#welcome_next{ opacity: 0; }

#wc_bottom{

  position: absolute;

  width: 150%;
  height: 75%;

  left: -25%;
  bottom: -25%;

  transform: translateY(100%) rotate(-10deg);

  background-color: #FFFFFF;
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.25);

}

#wc_circle{

  position: absolute;

  width: 100%;
  height: 100%;

  transform: translateY(50%);
  opacity: 0;

  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../img/w_circle.png");

  pointer-events: none;
  z-index: 10;

}



#wc_circles{

  position: absolute;

  width: 100%;
  height: 100%;

  transform: translateY(50%);
  opacity: 0;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img/w_circles.png");

  pointer-events: none;

}

#wc_title{

  position: absolute;

  width: 40vh;
  height: 40%;

  left: 5%;
  top: 5%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../img/welcome.png");

}

#wc_t_wrapper{

  position: absolute;

  width: 75%;

  left: 50%;
  bottom: 20%;
  transform: translate(-50%, 200%);
  opacity: 0;

  z-index: 25;

}

#wc_more{

  position: absolute;

  width: 250px;
  height: 65px;

  margin-right: 50px;
  top: 50%;
  transform: translateY(-50%);


  font-size: 22px;
  color: rgba(255,255,255,0.95);
  text-align: center;
  line-height: 65px;

  background-color: #E91E63;
  border-radius: 5px;
  box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.25);

  cursor: pointer;
  user-select: none;

  z-index: 30;

}

#wc_text{

  width: calc(90% - 300px);

  margin-left: 300px;
  max-height: 280px;
  overflow: hidden;

  font-size: 22px;
  color: rgba(0,0,0,0.85);
  text-align: justify;

  z-index: 28;

}



#wc_blue{

  position: absolute;

  width: 100%;
  height: 100vw;
  transform: scale(0);

  border-radius: 100%;

  background-color: #2196F3;

}

.wc_blue_animation{ animation: wc_blue_ani 2s forwards ease; }

@keyframes wc_blue_ani {

  0%{transform: scale(0);}
  100%{transform: scale(2);}

}

.wc_bottom_animation{ animation: wc_bottom_ani 1s forwards ease; }

@keyframes wc_bottom_ani {

  0%{transform: translateY(100%) rotate(-10deg);}
  100%{transform: translateY(0px) rotate(-10deg);}

}

.wc_fade_animation{ animation: wc_fade_ani 1s forwards ease; }
@keyframes wc_fade_ani {

  0%{transform: translateY(50%);  opacity: 0;}
  100%{transform: translateY(0px); opacity: 1;}

}

.wc_fadesp_animation{ animation: wc_fadesp_ani 1s forwards ease; }
@keyframes wc_fadesp_ani {

  0%{transform: translate(-50%, 200%);  opacity: 0;}
  100%{transform: translate(-50%, 50%); opacity: 1;}

}










/*-----------------------------------------------------------------------------------------------------------------------*/


#wc_me{ background-image: url("../img/me.png"); }
#wc_q{ background-image: url("../img/q.svg"); background-size: 75%;}
