body{

  position: absolute;
  width: 100%;
  height: 100%;

  margin: 0;
  padding: 0;

  font-family: "Roboto", sans-serif;
  font-size: 0;
  color: rgba(0,0,0,0.85);
  text-align: center;

}

div{

  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;

}

textarea:focus, input:focus{ outline: none; }

/*-------------------------------------------------------------------------*/

#header{

  display: block;
  position: fixed;

  width: 100%;
  height: 65px;

  background-color: #FFFFFF;
  box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.5);

  text-align: left;

  z-index: 1000;

}

.header_icon{

  width: 65px;
  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: 45%;

  background-image: url("data/menu.svg");

}

.header_title{

  width: calc(100% - 65px);
  height: 100%;

  font-size: 20px;
  line-height: 65px;
  font-weight: 500;

}

/*-------------------------------------------------------------------------*/

#wrapper{

  position: relative;

  width: 100%;
  max-width: 800px;
  min-height: 100%;

  text-align: left;
  box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.25);
  border-radius: 10px;

}

#preis{

  width: 100%;
  height: 35vh;

  margin-top: 65px;

  background-color: #F5F5F5;

  text-align: center;
  font-size: 17vh;
  line-height: 35vh;
  color: #2196F3;

}

#startpreis{

  width: 100%;
  height: 15px;

  margin-top: -25px;

  padding-left: 10px;

  font-size: 12px;
  color: rgba(0,0,0,0.5);


}

/*-------------------------------------------------------------------------*/

#menu{

  width: 100%;

}


#optionen{

  width: 100%;
  height: 45px;

  overflow: hidden;

}


.option{

  width: 50%;
  height: 100%;

  background-color: #E0E0E0;

  font-size: 17px;
  line-height: 45px;
  text-align: center;
  color: rgba(0,0,0,0.25);

  cursor: pointer;
  user-select: none;

}

.option_aktiv{

  background-color: #2196F3;
  color: rgba(255,255,255,0.95);

}

/*-------------------------------------------------------------------------*/

#settings{

  position: relative;

  width: 100%;
  height: 300px;
  overflow: hidden;

}

.berechnen{

  width: 45%;
  height: 45px;

  margin-top: 25px;
  margin-left: -10px;

  border: 5px solid #2196F3;
  border-radius: 45px;


  box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.25);

  cursor: pointer;
  user-select: none;

  font-size: 17px;
  line-height: 35px;
  text-align: center;
  color: #2196F3;

}

.festpreis{

  width: 100%;

  margin-bottom: 12px;

  font-size: 12px;
  color: rgba(0,0,0,0.5);

}

.s0{ animation: s0a 0.3s forwards ease; }
.s1{ animation: s1a 0.3s forwards ease; }
.s2{ animation: s2a 0.3s forwards ease; }
.s3{ animation: s3a 0.3s forwards ease; }

@keyframes s0a {

  0%  { transform: translateX(100%); }
  100%{ transform: translateX(0%);   }

}

@keyframes s1a {

  0%  { transform: translateX(0%);   }
  100%{ transform: translateX(100%); }

}

@keyframes s2a {

  0%  { transform: translateX(0%);   }
  100%{ transform: translateX(-100%); }

}

@keyframes s3a {

  0%  { transform: translateX(-100%);   }
  100%{ transform: translateX(0%); }

}

/*-------------------------------------------------------------------------*/

#dauer{

  display: block;
  position: absolute;

  transform: translateX(0%);

  width: 100%;
  padding: 25px;

}

.setting{

  width: 100%;
  height: 45px;

  margin-bottom: 25px;

}

.setting_title{

  width: 50px;
  height: 100%;

  border-bottom: 1px solid rgba(0,0,0,0.25);

  font-size: 17px;
  line-height: 45px;

}

input[type=time]{

  box-sizing: border-box;

  width: calc(100% - 55px);
  height: 100%;

  border: none;
  border-bottom: 1px solid rgba(0,0,0,0.25);
  background-color: #FFFFFF;

  font-size: 17px;
  line-height: 45px;
  color: rgba(0,0,0,0.85);

}

/*-------------------------------------------------------------------------*/

#strecke{

  display: block;
  position: absolute;

  transform: translateX(100%);

  width: 100%;
  padding: 25px;

}


.setting_header{

  width: 100%;
  font-size: 17px;

}

.setting_value{

  width: 100%;
  height: 45px;

  margin-top: -25px;
  margin-bottom: 25px;

  font-size: 25px;
  color: #2196F3;

  border-bottom: 1px solid rgba(0,0,0,0.25);

}
