body{

  margin: 0;
  padding: 0;

  background-color: #212121;

}

#title{

  position: absolute;

  width: 500px;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-size: 50px;
  color: #FFFFFF;


}
